@font-face {
    font-family: "norse-bold";
    src:
        url(fonts/norse-bold-webfont.woff),
        url(fonts/norse-bold-webfont.woff2);
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.banner {
    flex: 3;
    background-image: url(images/flowers.jpg);
    background-size: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    background-color: rgb(0 0 0 / 50%);
    font-family: "norse-bold", serif;
    font-size: 96px;
    color: white;
    text-align: center;
    padding: 18px;
    min-width: 300px;
    margin-top: 150px;
}

.logo::before {
    content: "";
    background-image: url(images/odin-lined.png);
    background-size: 100% 100%;
    display: inline-block;

    height: 80px;
    width: 60px;

    position: relative;
    top: 5px;
    right: 5px;
}

.imagesrc {
    color: white;
    text-align: center;
    padding: 10px 0;
}

a {
    color: orange;
}

h2 {
    font-size: 20px;
    margin: 0px;
}

form {
    flex: 5;
    background-color: rgb(206, 215, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formheader {
    padding: 40px 40px;
    color:rgb(38, 47, 54);
    padding-right: 100px;
}

.formmiddle {
    background-color: white;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 40px;
}

.formbottom {
    padding: 40px 40px;
    color:rgb(38, 47, 54);
    padding-right: 100px;
}

.inputcontainer {
    padding: 20px 0px;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 60px;
}

.inputcontainer div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inputcontainer div label {
    font-size: 12px;
    font-family: Courier, monospace;
    margin-bottom: 2px;
    letter-spacing: 2px;
}

input {
    font-size: 18px;
    border-radius: 4px;
    border: 2px solid black;
    padding: 4px 8px;
}

input:focus {
    outline: none;
    border: 2px solid lightblue;
}

button {
    border: none;
    color: white;
    background-color: orange;
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 900;
    border-radius: 8px;
    margin-bottom: 10px;
}

.formbottom a {
    text-decoration: none;
}